In [51]:
a=4
b=a
a=7
print(a)
print(b)

#floor divison operator (//) gives quotient and module operator(%) gives remainder
#to find type of anyting use type()

7
4

In [8]:
#The statements within same indentation forms a suite.

#if-elif-else statement:
x=32
if (x>0):
    print("positive")
elif (x==0):
     print("zero")
else:
    print("negative")

positive

In [12]:
y=input()
y1=int(y)
if (y1>90):
    print("Grade A")
elif(y1>60):
    print("Grade B")
else:
    print("Grade F")

91
Grade A

In [11]:
#for loop
for i in range(1,4):
    print(i)
print()
for i in range(4):
    print(i)
#range function excludes last position (here 4) and starts with 0 if first argument is not specified

1
2
3

0
1
2
3

In [26]:
for x in range(2,11,2):
    print(x,end='  ')  #prints adjecant with space specified in end
print()
for outer in range(1,3):
    for inner in "ABC":
        print(outer,inner)
    
#print(x)              #prints one below other

2  4  6  8  10
1 A
1 B
1 C
2 A
2 B
2 C

In [24]:
m="Ketaki"
for character in m[::2]:
    print(character)
# : considers all positions

m.find("k") #gives index of k in m
#m.startswith()
#m.endswith()
#m.islower()
#m.isupper()
#m.isnumeric()
#m.isalnum()
#m.isalpha()
#m.replace(word,word by which it first arg is replaced)
#m.split(' ')

K
t
k

In [34]:
num=0
for num in range(4):
    if num==2:
        break
print("Number is "+str(num))

Number is 2

In [ ]:
#continue and pass statement

In [51]:
#List is mutable
#List does not support item assignemnt
list=[1,2,3]
#negative slicing
list[-1] #Output is 3
#printing list in reverse order
list[::-1] #or list.reverse()
#list.remove(position) or del list[position]
#list.insert(position,what to insert) 
#list.sort() or sorted(list)

[3, 2, 1]

In [48]:
list.extend([7,8])
list

[1, 2, 3, 4, 7, 8]

In [49]:
list.append([7,8])
list
for l in list:
    print(l)

[1, 2, 3, 4, 7, 8, [7, 8]]

In [50]:
#Homework 1. Find out who scored highest marks in subject B.
students_marks=[
                ['Name',   ['A','B','C','D','E']],
                ['Ankit',  [41,34,45,55,63]],
                ['Arvind', [42,23,34,44,53]],
                ['Lakshya',[32,23,13,54,67]],
                ['Gyan',   [23,82,23,63,34]],
                ['Pranav', [23,23,25,56,56]]
               ]
ml=[]
for i in range(1,len(students_marks)):
   ml.append(students_marks[i][1][1])
print(ml)
for q in range(len(ml)):
    if (ml[q]==max(ml)):
        break
print(students_marks[q+1][0] +' '+'has highest marks in subject B which is equal to' +' '+str(ml[q])+'.')

[34, 23, 23, 82, 23]
Gyan has highest marks in subject B which is equal to 82.

In [5]:
#Tuple - It is not mutable.It provides security over updation from user - ()
#tuplename.index('') #index of an element in tuple
#tuplename.count('') #count of an element in tuple
#Tuple does not support item assignemnt.

#Sets ignores repition of elements in it - {} . It is mutable.Set operations are applicable
my_set={1,"B",3,"A",1}
my_set
#set1.intersection(set2)
#set1.intersection_update(set2) otherwise we will not get actual intersection
#set1.isdisjoint(set2)

#list/tuple to set : my_set=set(my_list/my_tuple)
#disard - doesnt throw error / remove-shows error if element not in set
#my_set.discard()
#element added to set doesn't add it to last position of list
#Adding element to list-use my_set.update()

{1, 3, 'A', 'B'}

In [18]:
#Dictionary: key-value pair .Dictionary keys are immutable (eg tuple)
#Elemenst are accesed by keys
dict={"Ketaki":"Sister","Nimish":"Brother"}
dict["Ketaki"] #o/p- Sister
dict.update({"Ketaki":"Sister"}) #does not add this again
dict.update({"Rajesh":"Father"})
dict
del dict["Rajesh"] #whole key-value pair is deleted
#updating value in dict
dict["Nimish"]="Tabla Player"
dict["Manisha"]="Mother"
#Dictionary is updated with latest value associated with key
#Two dictionaries with same elements but different order are same.
for key,value in dict:
    print(Key,value)

{'Ketaki': 'Sister', 'Nimish': 'Brother', 'Rajesh': 'Father'}